<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title">Введіть назву книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name error</div>
    <br/>
    <label for="year">Введіть рік видання: </label>
    <input type="number" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
    <br/>
    <label for="author">Введіть автора книги: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
    <br/>
    <label for="description">Введіть опис книги: </label>
    <textarea th:field="*{description}" id="description"></textarea>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</div>
    <br/>
    <input type="submit" value="Додати"/>
</form>
</body>
</html>